# An access token with access to the image we're pushing to
FLY_ACCESS_TOKEN="FlyV1 fm2_lJPECAAAAAAAAFu1xBDrE74JtpQtL/bs+u0CJiAlwrVodHRwczovL2FwaS5mbHkuaW8vdjGWAJLNzSMfC5O5aHR0cHM6Ly9hcGkuZmx5LmlvL2FhYS92McQ8WBLmZVkPM+bp+MYa59roq4p6RFGZOPyD4t7nrtfytR5QBg98z5akYSJcTjdQTua4QzBDT++kXlJi2W27xEWjm09GHI3BdcjBvMxe2c8jiT8KYneORr3tDZU+4lSvtJPDPaOnMVgNGb7NhJBhbP5sbY3oC93TYOco5L6xYEStTEKq4xUNkpQDkYHOABtQrB8FkYKnYnVpbGRlch+id2cfAcQgU/LVB8aWvqkvnRbRKd42i//Yvd5T73HVF0WxfsZ1Xbk=,fm2_lJPERaObT0YcjcF1yMG8zF7ZzyOJPwpid45Gve0NlT7iVK+0k8M9o6cxWA0Zvs2EkGFs/mxtjegL3dNg5yjkvrFgRK1MQqrjFcQQKZ82IUHac0JAIRLvYvaGEcO5aHR0cHM6Ly9hcGkuZmx5LmlvL2FhYS92MZYEks5lqHCMzwAAAAEhoI6qCpHNTwQMxBDpPM5My6ihVldeuGRWbT4vxCCF+j8afdZU4B5W/rcGBV34Ky0zOuVErci6LlBvm+xgsA=="

# A depot project & token
DEPOT_PROJECT="jlmt2zdb5m" # test-runner-ci
DEPOT_TOKEN="depot_project_e252ea64749beae1c983d2f95c952c892cb211c3a0e4aff1fe9ceb5bd14fc0a5"
