version: '3'

services:
  # Used to serve Git repositories for cloning in tests
  git_daemon:
    image: ghcr.io/codecrafters-io/git-daemon/git-daemon:v59
    # comment this out to build locally
    # build:
    #   context: ../git-daemon
    environment:
      CODECRAFTERS_SERVER_URL: "http://host.docker.internal:6331"
    volumes:
      - git_data:/usr/git
    ports:
      - "6332:9500"
    extra_hosts:
      - "host.docker.internal:host-gateway" # Required for CI, works by default on macOS

  # Used to programmatically create git repositories
  git_api:
    image: ghcr.io/codecrafters-io/git-api/web:v122
    # comment out to build locally
    # build:
    #   context: ../git-api
    environment:
      GIT_ROOT_PATH: /usr/git
      SENTRY_ENV: "local"
    volumes:
      - git_data:/usr/git
    ports:
      - "6333:5000"

  logstream_redis:
    image: redis:alpine
    ports:
      - "6334:6379"

volumes:
  git_data:
